.heroCard {
    width: 250px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.heroCard:hover,
.heroCard:active {
    background-color: #C0DDF5;
}
.heroImage {
    width:135px;
    height: 135px;
}

.heroInfo {
    margin: 16px 0;
    color: #ccc;
}